<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button List</title>
</head>
<body>
    <form action="/button_clicked" method="post">
        <input type="hidden" name="cred_list" value="{{ cred_list }}">
        <button type="submit" name="button_value" value="Mountains">Mountains</button>
        <button type="submit" name="button_value" value="Beaches">Beaches</button>
        <button type="submit" name="button_value" value="Temples">Temples</button>
    </form>
</body>
</html>