<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkbox List</title>
</head>
<body>
    <form action="/button_clicked" method="post">
        <input type="hidden" name="cred_list" value="{{ cred_list }}">
        <label><input type="checkbox" name="travel_type[]" value="Mountains"> Mountains</label><br>
        <label><input type="checkbox" name="travel_type[]" value="Beaches"> Beaches</label><br>
        <label><input type="checkbox" name="travel_type[]" value="Temples"> Temples</label><br>
        <button type="submit">Continue</button>
    </form>
</body>
</html>
